.background-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

}

.speech-recognition-container {
  width: 15%;
  margin: auto;
  margin-top: 19%;
}

.component-container {
  text-align: center;
}

.language-container {
  text-align: center;
}

.result-container {
  text-align: center;
}
